.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  margin-bottom: 24px;
  text-align: center;
  color:  #000;
  font-size: 24px;
  font-weight: 1000;
}

.input-box {
  margin-bottom: 20px;
  position: relative;
}

.input-box input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.input-box input:focus {
  border-color: #000;
}

.input-box input.inperror {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 13px;
  margin-top: 6px;
}

/* Login button */
.login-button {
  width: 100%;
  padding: 12px;
  background-color:black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s;
  border: 1px solid black;
}

.login-button:hover {
  background-color: #fff;
  color: #000;
}

.signup-link {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
  color: #444;
  text-decoration: none;
}

.signup-link a {
  color:#0571ff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.signup-link span:hover {
  text-decoration: underline;
}
