.dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.dashboard>h1 {
    font-family: subsecondary;
}

.dashboard .charts {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dashboard .charts .chartsm {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    height: 330px;
    width: 300px;
}